---
layout: default
---
<section class="list">
  <header>
    <h1>
      The lastest from the shed
    </h1>
  </header>

  <ul>
    <% collections.posts.each do |post| %>
      <li>
        <a href="<%= post.relative_url %>">
          <article>
            <% if post.data.image %>
              <img src="/images/<%= post.data.image %>">
              <% end %>
                <% if post.data.youtube %>
                  <iframe src="https://www.youtube.com/embed/<%= post.data.youtube %>" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  <% end %>

                    <section>
                      <h2>
                        <%= post.data.title %>
                      </h2>

                      <%= post.summary %>
                    </section>
          </article>
        </a>
      </li>
      <% end %>
  </ul>
</section>
